html,
body {
    overflow-y: scroll;
}
.view {
    height: 100%;
    clear: both;
}

.view {
    background: url("https://i.imgur.com/ywg6PlQ.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    margin: 2% 2% 0 2%;
}
#wrapper {
    height: 100vh;
}